@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title us</h2>
    <table class="table table-bordered">
        <h2>Our Team</h2>
        <h3>Rajesh Mourya </h3>
        <h3>Sunil kumar </h3>
        <h3>Vimlesh Kumar</h3>
        <h3>Arwaaz Ali</h3>
    </table>


    <address>
        <strong>Support Engineer:-</strong>   <a href="mailto:rajeshmourya7505@gmail.com">Support@example.com</a><br />

    </address>
</main>